<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jason C. Nucciarone">
    <meta name="description" content="Off switch for build your own smart outlet">
    <title>byoso - off switch</title>

    <!-- Import W3.CSS framework for CSS styling -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
    <div class="w3-display-middle">
        <div class="w3-container">
            <a class="w3-button w3-round w3-xlarge w3-center w3-red" href="/off">Off</a>
        </div>
    </div>
</body>
</html>
